@media (max-width: 800px) {
  .txt-menu {
    display: none;
  }
  .shop-cart{
    display: none;
  }
  .mid-items {
    display: none;
  }

  .prenda-principal{
    width: 100%;
    height: 60%;
    margin-top: 10px;
  }
}





.items-menu{
    box-sizing: border-box;
    max-width: 70px;
    list-style: none;
    display: flex;
    flex-basis:auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    min-height: 50px;
}
.items-menu > li{
    min-width:60px;
    box-sizing: border-box;
    padding: 0 5px 0px 5px;
    margin: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
}




.items-menu > li a {
    display: block;    
  width: 100%;          
  height: 100%;      
  text-decoration: none;
  color: black;
}

.items-menu > li:hover{
    background-color: rgb(237, 191, 170);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.shop-cart>button{
    border: none;
    background: transparent;

}


.menu-lateral{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    margin-right: 3px;
    width: 150px;
    background-color: rgb(243, 190, 190);
    height: 300px;
    display: flex;
    justify-content: center;
     border-radius: 10px;
     margin-top: 8px;
}

.rgt-items{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.lft-items{
    min-height: 50px;
    display: flex;
    align-items: center;
}
.lft-items a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: 3px;
}

.icon-menu-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon-menu-mobile button{
    padding: 3px 9px;
    border: none;
    font-size: 16px;  
    transition: background-color 0.3s ease; 
}

.icon-menu-mobile button svg {
  width: 16px;
  height: 16px;
}

.navigation-mobile{
    display: none;
}